.bg {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../shared/assets/images/summer-bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;
        opacity: 0.7;
        background-color: white;
    }
}

.title {
    position: relative;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: rgb(247, 104, 35);
}